<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title%></title>
  <!-- <link rel="stylesheet" href="./init.css"> -->
</head>
<body>
  <section id="root"></section>
</body>
</html>
