* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  width: 100%;
  height: 100%;

  background-color: #fff
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 750px;
  background-color: #f4f4f4;
}

button, input, textarea, a, img {
  border: none;
  outline: none;
  background: none;
}

#root {
  width: 100%;
  height: 100%; 
  overflow: hidden;
}